
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Suresh
                        <span class="text-primary">Shyamala</span>
                    </h1>
                    <div class="subheading mb-5">
                        3-7/b . Fatheshapur . jangaon . Telangana , +91 9502610514 
                        <a href="mailto:sureshshyamala95026@gmail.com">sureshshyamala95026@gmail.com</a>
                    </div>
                    <p class="lead mb-5"> My name is Suresh shyamala and I'm a graduate🎓 completed student with specialization in bachlor of computer application.
                        I'm from jangaon📍, Telangana, India.<br>
                        🌱 I am currently learning Full stack java developer.<br>
                        📫 Email: sureshshyamala95026@gmail.com.<br>
                        ⚡ Read more about my projects at Repositories. <br>
                        🔧 IDE : Android studio, git,Bracket,jyupter.<br>
                        ✨ Programming Languages: java,c,c++,full stack java developer[ git, maven,jenkins, html and css, angular, angular forms and services, angular bootstrap, mongodb]</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://linkedin.com/in/suresh-shyamala-37584b24a"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/Suresh-28"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/ShyamalaSures12"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://instagram.com/s_u_r_i_28"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />