      <!-- Interests-->
      <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a code learner, I enjoy most of my time being outdoors. And capturing the beauty of environment with the lens. You can see my Photography account  <a href="https://www.instagram.com/my.p_a_s_s_i_o_n/">here</a> </p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and web series, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technologies.</p>
        </div>
    </section>
    <hr class="m-0" />